In [1]:
import requests
import pandas as pd

# Fetch page 1
url = "https://swapi.dev/api/people/"
response = requests.get(url).json()

characters = response["results"]
next_url = response["next"]

# Fetch page 2 to get 20 characters total
response2 = requests.get(next_url).json()
characters += response2["results"]

df = pd.DataFrame([
    {
        "name": c["name"],
        "height": c["height"],
        "mass": c["mass"],
        "gender": c["gender"],
        "birth_year": c["birth_year"],
        "homeworld_url": c["homeworld"],
        "films_count": len(c["films"])
    }
    for c in characters
])

df

,name,height,mass,gender,birth_year,homeworld_url,films_count
0,Luke Skywalker,172,77,male,19BBY,https://swapi.dev/api/planets/1/,4
1,C-3PO,167,75,n/a,112BBY,https://swapi.dev/api/planets/1/,6
2,R2-D2,96,32,n/a,33BBY,https://swapi.dev/api/planets/8/,6
3,Darth Vader,202,136,male,41.9BBY,https://swapi.dev/api/planets/1/,4
4,Leia Organa,150,49,female,19BBY,https://swapi.dev/api/planets/2/,4
5,Owen Lars,178,120,male,52BBY,https://swapi.dev/api/planets/1/,3
6,Beru Whitesun lars,165,75,female,47BBY,https://swapi.dev/api/planets/1/,3
7,R5-D4,97,32,n/a,unknown,https://swapi.dev/api/planets/1/,1
8,Biggs Darklighter,183,84,male,24BBY,https://swapi.dev/api/planets/1/,1
9,Obi-Wan Kenobi,182,77,male,57BBY,https://swapi.dev/api/planets/20/,6
10,Anakin Skywalker,188,84,male,41.9BBY,https://swapi.dev/api/planets/1/,3
11,Wilhuff Tarkin,180,unknown,male,64BBY,https://swapi.dev/api/planets/21/,2
12,Chewbacca,228,112,male,200BBY,https://swapi.dev/api/planets/14/,4
13,Han Solo,180,80,male,29BBY,https://swapi.dev/api/planets/22/,3
14,Greedo,173,74,male,44BBY,https://swapi.dev/api/planets/23/,1
15,Jabba Desilijic Tiure,175,"1,358",hermaphrodite,600BBY,https://swapi.dev/api/planets/24/,3
16,Wedge Antilles,170,77,male,21BBY,https://swapi.dev/api/planets/22/,3
17,Jek Tono Porkins,180,110,male,unknown,https://swapi.dev/api/planets/26/,1
18,Yoda,66,17,male,896BBY,https://swapi.dev/api/planets/28/,5
19,Palpatine,170,75,male,82BBY,https://swapi.dev/api/planets/8/,5

In [2]:
df.to_csv("swapi_characters.csv", index=False)
df

,name,height,mass,gender,birth_year,homeworld_url,films_count
0,Luke Skywalker,172,77,male,19BBY,https://swapi.dev/api/planets/1/,4
1,C-3PO,167,75,n/a,112BBY,https://swapi.dev/api/planets/1/,6
2,R2-D2,96,32,n/a,33BBY,https://swapi.dev/api/planets/8/,6
3,Darth Vader,202,136,male,41.9BBY,https://swapi.dev/api/planets/1/,4
4,Leia Organa,150,49,female,19BBY,https://swapi.dev/api/planets/2/,4
5,Owen Lars,178,120,male,52BBY,https://swapi.dev/api/planets/1/,3
6,Beru Whitesun lars,165,75,female,47BBY,https://swapi.dev/api/planets/1/,3
7,R5-D4,97,32,n/a,unknown,https://swapi.dev/api/planets/1/,1
8,Biggs Darklighter,183,84,male,24BBY,https://swapi.dev/api/planets/1/,1
9,Obi-Wan Kenobi,182,77,male,57BBY,https://swapi.dev/api/planets/20/,6
10,Anakin Skywalker,188,84,male,41.9BBY,https://swapi.dev/api/planets/1/,3
11,Wilhuff Tarkin,180,unknown,male,64BBY,https://swapi.dev/api/planets/21/,2
12,Chewbacca,228,112,male,200BBY,https://swapi.dev/api/planets/14/,4
13,Han Solo,180,80,male,29BBY,https://swapi.dev/api/planets/22/,3
14,Greedo,173,74,male,44BBY,https://swapi.dev/api/planets/23/,1
15,Jabba Desilijic Tiure,175,"1,358",hermaphrodite,600BBY,https://swapi.dev/api/planets/24/,3
16,Wedge Antilles,170,77,male,21BBY,https://swapi.dev/api/planets/22/,3
17,Jek Tono Porkins,180,110,male,unknown,https://swapi.dev/api/planets/26/,1
18,Yoda,66,17,male,896BBY,https://swapi.dev/api/planets/28/,5
19,Palpatine,170,75,male,82BBY,https://swapi.dev/api/planets/8/,5